<div class="container">
    <div class="alert alert-secondary text_cont background_cont" role="alert">
        <div>
            <div class="text_mv_info">Movies info</div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <nav class="alert navbar" style="height: 40px">
                <div class="container-fluid" style="margin-top: -11px">
                    <a class="navbar-brand text_cont" onclick="ReturnHome()">Home</a>
                    <button class="btn" style="margin-right:300px" onclick="Favorite()">List Favorite</button>
                    <div>
                        <input v-model="str" class="form-control me-2" type="search" placeholder="Search"
                            aria-label="Search" id="input">
                    </div>
                    <div>
                        <select class="form-select text-center" aria-label="Default select example" name="option">
                            <option value="Search by movies">Search by movies</option>
                            <option value="Search by casts">Search by casts</option>
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-outline-success" onclick="Search()">Search</button>
                    </div>
                    <div>
                        <button class="btn btn-outline-success" onclick="Logout()">Log out</button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-3" style="margin-top:30px">
            {{#each movies}}
            <img src="{{img}}" alt="{{id}}" width="250" height="250" id="{{id}}">
            <div>Title: {{title}}</div>
            <div>Rating: {{rating}}</div>
            <div>Year: {{year}}</div>
            <button id="{{id}}" onclick="Reviews(id, 1)">Reviews</button>
            <button id="{{id}}" onclick="Casts(id, 1)">Casts</button>
            <button id="{{id}}" onclick="AddFavorites(id)">Add Favorites</button>
            {{/each}}
        </div>
        <div class="col-9">
            <div style="font-size: 30px; margin-top: 20px">REVIEWS</div>
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Author</th>
                        <th scope="col">ReviewText</th>
                        <th scope="col">SubmissionDate</th>

                    </tr>
                </thead>
                <tbody id="content">
                    
                    {{#each reviews}}
                    <tr class="text">
                        <th>{{author}}</th>
                        <td>{{reviewText}}</td>
                        <td>{{submissionDate}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example">
 <ul class="pagination justify-content-center">
    {{#each page}}
    <li class="page-item"><a class="page-link" id="{{id}}" onclick="Reviews(id, {{npage}})">{{npage}}</a></li> 
    {{/each}}
  </ul>

</nav>
    <div class="alert alert-secondary text-center background_cont text_cont" style="margin-top:20px" role="alert">
        Copyright &copy; &lt;TranVanThat&gt;
    </div>
</div>
<script>
    function ReturnHome() {
        let id = $('#iduser').val()
        window.location.href = `http://localhost:20376/home/iduser=${id}/page=1`
    }
    function Logout() {
        window.location.href = "http://localhost:20376/login";
    }

    async function PostDataAfterSubmit(url = '', data = {}) {
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        return response.json();
    }

    function Search() {
        let input = $('#input').val()
        let option = $('.form-select').val()

        if (input == "") {
            alert("Vui lòng nhập đầy đủ thông tin")
        } else {
            PostDataAfterSubmit('/search', { input: input, option:option })
                .then((data) => {
                    if (data.result == "nodata") {
                        alert("Không tìm thấy kết quả tìm kiếm")
                    }
                    else if (data.result == "success") {
                        window.location.href = `http://localhost:20376/search/movie/${input}/page=1`;
                    }
                    else if (data.result == "ok") {
                        window.location.href = `http://localhost:20376/search/cast/${input}/page=1`;
                    }
                });

        }

    }

    function Reviews(id, page) {
        window.location.href = `http://localhost:20376/movie/id=${id}/reviews/page=${page}`;
    }

    function Casts(id) {
        window.location.href = `http://localhost:20376/movie/id=${id}/casts`;
    }

    function AddFavorites(id) {
        PostDataAfterSubmit('/favorite', { id: id })
            .then((data) => {
                if (data.result == "unsuccess") {
                    alert("Phim đã có trong danh sách yêu thích")
                }
                else if (data.result == "success") {
                    alert("Thêm vào danh sách yêu thích thành công")
                    window.location.href = `http://localhost:20376/movie/id=${id}`;
                }
            });
    }

    function Favorite(){
        window.location.href = "http://localhost:20376/favorite/page=1"
    }

</script>